* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(108, 108, 101);
}

.div1 {
    max-width: 992px;
    max-height: 992px;
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(81, 70, 70);
}

h2 {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.d3 {
    color: black;
    background-color: rgb(255, 255, 255);
}

.form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
}

.control {
    display: flex;
    flex-direction: column;

}

input,
select,
textarea {
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 15px;

}

input:focus {
    background-color: rgb(225, 223, 223);
    opacity: 0.5px;
    color: rgb(0, 0, 0);
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    background-color: rgb(19, 171, 67);
    padding: 10px 10px;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 25px;
    transition: 0.3s ease-in;
}

button:hover {
    background-color: rgb(6, 229, 77);
    box-shadow: 2px 2px 5px rgb(10, 223, 78);
    color: rgb(0, 0, 0);
    transition: 0.3s ease-out;
}

.textcontrol {
    grid-column: 1/span 2;
}

textarea {
    width: 100%;
}

@media (max-width:460px) {
    .textcontrol {
        grid-column: 1/span 1;
    }
}