 html,
 body {
     height: 100%;
     margin: 0;
     font-size: 16px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 400;
     line-height: 1.6rem;
     color: #666;
 }

 .image1 {
     background-image: url(bg.jpg);
     min-height: 100%;
 }

 .image2 {
     background-image: url(bg2.jpg);
     min-height: 800px;
 }

 .image3 {
     background-image: url(bg3.jpg);
     min-height: 700px;
 }

 .image1,
 .image2,
 .image3 {
     position: relative;

     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
 }

 .ptext {
     position: absolute;
     top: 50%;
     width: 100%;
     text-align: center;
     font-size: 40px;
 }

 .p1 {
     text-transform: uppercase;
     padding: 50px;
     background-color: #3a3737;
     padding: 30px;
     color: rgb(255, 255, 255);
 }

 .h1sec {
     padding: 80px 40px;
     text-align: center;
     background-color: #2f2e2e;
     color: aliceblue;
     word-spacing: 3px;
 }

 .lorem {
     font-style: italic;
     font-size: 30px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }